// global color variables
  $blue: #328fc2;
  $blue-lt: #eef5f0; // alternating table rows
  $blue-dark: #006899; // nav link active state
  $green: #bbd8c4;
  $green-lt: #ddebe1; // inactive tab, alternating table rows
  $purple: #650360;
  $footer: #e7e8e9; // footer
  $active-tab-bg: #f5f5f5; // active tab
  $text: #505050; // dark grey text
  $tab-border: #cccccc; // tabbing border
  $white: #ffffff;
  $overlay: rgba(0,0,0,.5); // overlay, dialogue box shadow

// clearfix
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  font-size: 13px;
  font-family: 'Helvetica Neue', sans-serif;
  color: $text;
  box-sizing: border-box;
}

.l-wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.c-headersection {
  background-color: $blue;
  margin-bottom: 4.33em;
}

.c-header {
  color: $text;
  font-size: 2.4em;
  font-weight: 200;
  margin-bottom: 1em;
}

.c-header--blue {
  color: $blue
}
.c-header--purple {
  color: $purple;
}

.c-logo {
  height: 3em;
  display: inline-block;
  img {
    height: 2.47em;
    width: 10.13em;
    margin-top: .265em;
  }
}


.c-nav {
  background-color: $blue;
  ul {
    transition: height .5s ease;
    visibility: hidden;
    opacity: 0;
    height: 0;
    margin-top: 0;
    li {
      a {
        font-size: 1.07em;
        color: $white;
        text-decoration: none;
        padding: 1em 0;
        display: block;
      }
    }
  }
}

.c-nav ul.is-active {
  transition: all .5s ease;
  visibility: visible;
  opacity: 1;
  height: 14.67em;
}

.c-nav--header {
  ul li a {
        padding-left: 1em;
        padding-right: 1em;
        margin-left: -2.5%;
        margin-right: -2.5%;
        &:active, &:focus {
          background-color: $blue-dark;
        }
  }
}
.c-nav--header ul.is-active {
    margin-bottom: 1em;
    padding-top: 1em;
}

.c-nav--footer {
  background-color: $footer;
  ul {
    display: block;
    visibility: visible;
    opacity: 1;
    height: auto;
    transition: all 0s;
    li{
      a {
        color: $blue;
        padding-bottom: 0;
      }
    }
  }
  ul li a:active, ul li a:focus {
    font-weight: bold;
  }
}

.c-footer {
  background-color: $footer;
  padding: 1em;
}

.c-copyright {
  color: $blue;
  display: inline-block;
}

.c-header__split {
  border-right: 1px solid $text;
  font-weight: lighter;
}

.c-button {
  margin-bottom: 1.67em;
  text-decoration: none;
  color: $white;
  background-color: $purple;
  padding: .6em 3em;
  border: none;
  font-size: 1em;
}

.c-button--hamburger {
  float: right;
  margin-top: calc(-3em + .125em);
  margin-bottom: 0;
  border: 2px solid $white;
  border-radius: 5px;
  padding: .6em .6em;
  background-color: $blue;
}

.c-button--fullwidth {
  display: block;
  width: 50%;
  padding: 1em;
}

.c-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $overlay;
}

.c-overlay.is-active {
  display:block;
}

.c-dialog {
  display: none;
  position: fixed;
  top: 9.73em;
  max-width: 350px;
  margin: 0 auto;
  background-color: $white;
  left: 2.5%;
  right: 2.5%;
  padding: 2em;
  -webkit-box-shadow: 0 3px 7px $overlay;
  -moz-box-shadow: 0 3px 7px $overlay;
  box-shadow: 0 3px 7px $overlay;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.c-dialog.is-active {
  display: block;
}

// left: calc((100% - 30em)/2); after reaches full width
// right: calc((100% - 30em)/2);

.c-header--medium {
  font-size: 1.87em;
  margin-bottom: 1em;
  font-weight: normal;
}

.c-button--close {
  background-color: transparent;
  width: 3em;
  height: 3em;
  background-image: url('../img/times@2x.png');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.c-form {
  display: block;
  width: 100%;
  .c-form__field {
    display: flex;
    label {
      order: 1;
      width: 7.6em;
      line-height: 1.71em;
    }
    input {
      order: 2;
      flex: 1 1 auto;
      border: 1px solid $blue;
      padding: .33em;
      margin-bottom: 1.33em;
    }
  }

}

.c-button--fltright {
  float:right;
  margin-bottom: 0;
}

.c-tabs {
  margin-top: 3em;
  .c-tabs__tabsList {
    display: flex;
    flex-direction: row;
  }
  .c-tabs__tab {
    background-color: $green-lt;
    border: 1px solid $tab-border;
    border-bottom: none;
    border-left: none;
    color: $blue;
    font-size: 1.29em;
    padding: .48em;
    align-self: flex-end;
    margin-bottom: 0;
  }

  .c-tabs__tab:first-child {
    border-right: none;
  }

  .c-tabs__tab.is-selected {
    color: $text;
    padding-top: .92em;
    background-color: $active-tab-bg;
    margin-bottom: -1px;
    border: 1px solid $tab-border;
    border-bottom: none;
    border-left: 1px solid $tab-border;
    a {
      color: $text;
    }
  }

  .c-tabs__tab:first-child.is-selected {
    border-left: none;
  }


  .c-tabs__tabPanel {
    padding-top: 2em;
    background-color: $active-tab-bg;
    border-top: 1px solid $tab-border;
    display: none;
  }

  .c-tabs__tabPanel.is-selected {
    display: block;
  }

  ul {
    height: 100%;
    li {
      padding: 0 1em;
      a {
        text-decoration: none;
      }
    }
  }
  .c-tabs__tabPanel--archive {
    padding-bottom: 2em;
  }
}

.c-header--small {
  font-weight: bold;
  font-size: 1.07em;
  line-height: 1.5;
}

.c-header--spacingafter {
  margin-bottom: .93em;
}

.c-text {
  line-height: 1.5;
  margin-bottom: 2em;
}

.l-aside {
  margin-bottom: 3.125em;
}

.l-article {
  margin-bottom: 3.125em;
}

.c-link {
  color: $blue;
}

.c-list {
     li {
       font-size: .875em;
     }
     list-style-type: disc;
     list-style-position: inside;
     list-style-position: inside;
     line-height: 1.86em;
}

.l-subsection {
  margin-bottom: 2em;
}

.c-informational {
  background-color: $green;
  padding: 1em;
  margin-bottom: 10em;
  .c-informational__img {
    width: 6.75em;
    height: 11.25em;
    margin: 0 auto;
    // display: block;

    margin-bottom: -8em;
    margin-top: -2em;
    float:right;
  }
}

.c-table {
  width: 100%;
  tbody tr:first-child {
    font-weight: bold;
    font-size: 1.125em;
    td {
      padding: .89em;
    }
  }

  tbody tr {
    background-color: $blue-lt;
    padding: 1em;
    &:nth-child(even){
      background-color: $green-lt;
    }
  }
  td {
    text-align: right;
    padding: 1em;
  }
  th {
    padding: 1em;
    text-align: right;
    font-size: .75em;
    &:first-child {
      visibility: hidden;
    }
    &:last-child {
      padding-right: 0;
    }
    sup a {
      text-decoration: none;
      color: $text;
    }
  }
  tbody td:first-child {
    text-align: left;
  }
  .c-table__footnote {
    font-size: .75em;
    text-align: right;
    padding-right: 0;
  }
}

// mobile-out media queries
@media only screen and (min-width:768px){
  html {
    font-size: 15px;
  }
  .c-nav.c-nav--header {
    display: inline-block;
    float: right;
    ul {
      transition: all 0s;
      height: 3em;
      margin-top: 0;
      margin-bottom: 0;
      display: flex;
      float:right;
      visibility: visible;
      opacity: 1;
      padding-top: 0;
      li {
        display: inline-block;
        a {
          padding: .91em 1em;
          margin-left: 0;
          margin-right: 0;
          &:hover {
            background-color: $blue-dark;
          }
        }
      }
    }
  }
  .c-button--hamburger {
    display: none;
  }
  .c-button--fullwidth {
    padding: .6em 3em;
    width: 100%;
  }
  .l-main {
    display:flex;
    .l-maincontent {
      flex: 3;
    }
    .l-aside {
      order: 2;
      flex: 1;
      margin-left: 2.34%;
    }
  }
  .c-nav.c-nav--footer {
    float: right;
    li {
      display: inline-block;
      a {
        padding: 0 .91em;
        &::after {
            display: block;
            content: attr(title);
            font-weight: bold;
            height: 0;
            overflow: hidden;
            visibility: hidden;
        }
        &:hover {
          font-weight: bold;
          &::after {
            display: block;
          }
        }
      }
    }
  }
  .c-informational {
    display:flex;
    margin-bottom: 0;
    p {
      margin-bottom: 0;
    }
    .c-informational__section img {
      margin-top: -6.25em;
      margin-left: 1em;
      margin-right: 1em;
    }
  }
}
